<div class="container">

  <button type="button" class="btn btn-link btn-lg pl-0" (click)="state = 'meals'">Meals</button>
  |
  <button type="button" class="btn btn-link btn-lg" (click)="state = 'rest'">Rest</button>

  <div class="row">

    <div *ngIf="state === 'meals'" class="col">

      <h1>Choose meals</h1>

      <div class="my-1 vertical-align" *ngFor="let meal of meals">
        {{ meal }} <button type="button" class="btn btn-link btn-lg py-0">></button>
      </div>

    </div>

    <div *ngIf="state === 'rest'" class="col">

      <h1 class="mb-3">What else?</h1>

      <form>
        <div class="form-group my-3">
          <input class="form-control" placeholder="Enter shopping item and hit ENTER">
        </div>
      </form>

      <h3 class="mt-5 mb-3">Previously added:</h3>

      <div class="my-0 vertical-align" *ngFor="let item of previous">
        {{ item }} <button type="button" class="btn btn-link btn-lg py-0">></button>
      </div>

    </div>

    <div class="col">

      <h1>Shopping list</h1>

      Choose meals or add anything else you need!

    </div>

  </div>

</div>
