<div class="container">
  <div class="row">

    <div class="col border">
      <h1>Choose meals</h1>
      <div class="row my-3 vertical-align" *ngFor="let meal of meals">
        <div class="col">{{ meal }}</div>
        <div class="col-4"><button type="button" class="btn btn-link btn-lg">></button></div>
      </div>
    </div>

    <div class="col border">
      <h1>What else?</h1>
    </div>

    <div class="col border">
      <h1>Shopping list</h1>
      Choose meals or add anything else you need!
    </div>

  </div>
</div>
