<div class="container">

  <div class="row">

    <div class="col">

      <h1>Meals</h1>

      <app-meals [meals]="meals" (selectMeal)="selectMeal($event)"></app-meals>

    </div>

    <div class="col">

      <h1 class="mb-3">Common items</h1>

      <app-common-items [items]="previous" (selectItem)="selectItem($event)"></app-common-items>

    </div>

    <div class="col">

      <h1>Shopping list</h1>

      <button (click)="copyList(list)" value="click to copy">Copy this</button>

      <app-shopping-list [items]="list"></app-shopping-list>

    </div>

  </div>

</div>
