<div class="container mt-2">

  <div class="row">

    <div class="col">

      <div class="card">
        <div class="card-header">
          Select meals
        </div>
        <div class="card-body">
          <app-meal-add></app-meal-add>

          <mat-divider></mat-divider>

          <app-meals [meals]="meals" (selectMeal)="selectMeal($event)"></app-meals>
        </div>
      </div>

      <!-- <h1>Meals</h1> -->

      <!-- <app-meal-add></app-meal-add>

      <mat-divider></mat-divider>

      <app-meals [meals]="meals" (selectMeal)="selectMeal($event)"></app-meals> -->

    </div>

    <div class="col">

      <div class="card">
        <div class="card-header">
          Select common items
        </div>
        <div class="card-body">
          <app-common-items [items]="previous" (selectItem)="selectItem($event)"></app-common-items>
        </div>
      </div>

      <!-- <h1 class="mb-3">Common items</h1>

      <app-common-items [items]="previous" (selectItem)="selectItem($event)"></app-common-items> -->

    </div>

    <div class="col">

      <h1>Shopping list</h1>

      <button (click)="copyList(list)" value="click to copy">Copy this</button>

      <app-shopping-list [items]="list"></app-shopping-list>

    </div>

  </div>

</div>
